USE [master]
GO
/****** Object:  Database [projectDB]    Script Date: 2022-04-16 1:07:21 AM ******/
CREATE DATABASE [projectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\projectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\projectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projectDB]
GO
/****** Object:  Table [dbo].[AdminInfo]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminInfo](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdminInfo] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberFavorite]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberFavorite](
	[MemberID] [int] NOT NULL,
	[ShopID] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_MemberFavorite] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[ShopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberInfo]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberInfo](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Gender] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[Email] [nvarchar](200) NULL,
	[RegisterDate] [date] NULL,
	[BlackList] [bit] NULL,
	[Image] [nvarchar](200) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_MemberInfo] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
	[Title] [nvarchar](500) NULL,
	[AddDate] [date] NULL,
	[Dest1] [int] NULL,
	[Dest2] [int] NULL,
	[Dest3] [int] NULL,
	[Dest4] [int] NULL,
	[Dest5] [int] NULL,
	[Dest6] [int] NULL,
	[Dest7] [int] NULL,
	[Dest8] [int] NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopInfo]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopInfo](
	[ShopID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Longitude] [decimal](10, 6) NULL,
	[Latitude] [decimal](10, 6) NULL,
	[Email] [nvarchar](2000) NULL,
	[Facebook] [nvarchar](2000) NULL,
	[Instagram] [nvarchar](2000) NULL,
	[Min] [nvarchar](300) NULL,
	[Note] [nvarchar](4000) NULL,
	[Type] [nvarchar](500) NULL,
	[Status] [nvarchar](500) NULL,
	[Image1] [nvarchar](4000) NULL,
	[Image2] [nvarchar](4000) NULL,
	[Image3] [nvarchar](4000) NULL,
	[Image4] [nvarchar](4000) NULL,
	[Image5] [nvarchar](4000) NULL,
	[PhotoSource] [nvarchar](4000) NULL,
	[Monday] [nvarchar](50) NULL,
	[Tuesday] [nvarchar](50) NULL,
	[Wednesday] [nvarchar](50) NULL,
	[Thursday] [nvarchar](50) NULL,
	[Friday] [nvarchar](50) NULL,
	[Saturday] [nvarchar](50) NULL,
	[Sunday] [nvarchar](50) NULL,
	[Click] [int] NULL,
	[Enable] [bit] NULL,
	[TagIds] [nvarchar](500) NULL,
 CONSTRAINT [PK_ShopInfo] PRIMARY KEY CLUSTERED 
(
	[ShopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopReview]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopReview](
	[MemberID] [int] NOT NULL,
	[ShopID] [int] NOT NULL,
	[ReviewDate] [date] NULL,
	[RContent] [nvarchar](2000) NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_ShopReview] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[ShopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [nvarchar](50) NULL,
	[TagName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebsiteReview]    Script Date: 2022-04-16 1:07:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebsiteReview](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
	[ReviewDate] [date] NULL,
	[Type] [nvarchar](500) NULL,
	[RContent] [nvarchar](4000) NULL,
	[Status] [nvarchar](500) NULL,
	[Remark] [nvarchar](4000) NULL,
 CONSTRAINT [PK_WebsiteReview] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminInfo] ON 

INSERT [dbo].[AdminInfo] ([AdminID], [Account], [Password]) VALUES (1, N'admin123', N'123')
SET IDENTITY_INSERT [dbo].[AdminInfo] OFF
GO
INSERT [dbo].[MemberFavorite] ([MemberID], [ShopID], [Status]) VALUES (1, 1, 1)
INSERT [dbo].[MemberFavorite] ([MemberID], [ShopID], [Status]) VALUES (1, 3, 1)
INSERT [dbo].[MemberFavorite] ([MemberID], [ShopID], [Status]) VALUES (1, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[MemberInfo] ON 

INSERT [dbo].[MemberInfo] ([MemberID], [Name], [Phone], [Address], [Gender], [BirthDate], [Email], [RegisterDate], [BlackList], [Image], [Account], [Password]) VALUES (1, N'Jack', N'0912345679', N'高雄市前金區', N'其他', CAST(N'1980-09-17' AS Date), N'jack@gmail.com', CAST(N'2022-03-22' AS Date), 0, NULL, N'jack00', N'1234')
INSERT [dbo].[MemberInfo] ([MemberID], [Name], [Phone], [Address], [Gender], [BirthDate], [Email], [RegisterDate], [BlackList], [Image], [Account], [Password]) VALUES (2, N'karen', N'0975581305', N'台南市安平區88號', N'女', CAST(N'1996-03-03' AS Date), N'p55701312@gmail.com', CAST(N'2022-03-22' AS Date), 0, NULL, N'karen00', N'1234')
INSERT [dbo].[MemberInfo] ([MemberID], [Name], [Phone], [Address], [Gender], [BirthDate], [Email], [RegisterDate], [BlackList], [Image], [Account], [Password]) VALUES (3, N'Mary', N'0988557669', N'台南市中西區', N'女', CAST(N'1988-12-08' AS Date), N'mary@gmail.com', CAST(N'2022-03-22' AS Date), 1, NULL, N'mary00', N'12345')
SET IDENTITY_INSERT [dbo].[MemberInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([RouteID], [MemberID], [Title], [AddDate], [Dest1], [Dest2], [Dest3], [Dest4], [Dest5], [Dest6], [Dest7], [Dest8]) VALUES (18, 3, N'test1', CAST(N'2022-03-29' AS Date), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Route] ([RouteID], [MemberID], [Title], [AddDate], [Dest1], [Dest2], [Dest3], [Dest4], [Dest5], [Dest6], [Dest7], [Dest8]) VALUES (41, 2, N'吃爆甜點', CAST(N'2022-04-06' AS Date), 15, 19, 21, 25, NULL, NULL, NULL, NULL)
INSERT [dbo].[Route] ([RouteID], [MemberID], [Title], [AddDate], [Dest1], [Dest2], [Dest3], [Dest4], [Dest5], [Dest6], [Dest7], [Dest8]) VALUES (43, 1, N'喝爆台南 1.0', CAST(N'2022-04-06' AS Date), 26, 29, 17, 118, 21, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Route] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopInfo] ON 

GO
SET IDENTITY_INSERT [dbo].[ShopInfo] OFF
GO
INSERT [dbo].[ShopReview] ([MemberID], [ShopID], [ReviewDate], [RContent], [Score]) VALUES (1, 23, CAST(N'2022-04-14' AS Date), N'好吃', 4)
INSERT [dbo].[ShopReview] ([MemberID], [ShopID], [ReviewDate], [RContent], [Score]) VALUES (1, 67, CAST(N'2022-04-04' AS Date), N'這間餐點很好吃
只是會遇到比較吵的客人', 5)
INSERT [dbo].[ShopReview] ([MemberID], [ShopID], [ReviewDate], [RContent], [Score]) VALUES (1, 70, CAST(N'2022-04-04' AS Date), N'東西好吃又便宜', 4)
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([ID], [Tag], [TagName]) VALUES (1, N'T01', N'水果特調')
INSERT [dbo].[Tag] ([ID], [Tag], [TagName]) VALUES (2, N'T02', N'茶飲')
INSERT [dbo].[Tag] ([ID], [Tag], [TagName]) VALUES (3, N'T03', N'調酒')
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[WebsiteReview] ON 

INSERT [dbo].[WebsiteReview] ([ReviewID], [MemberID], [ReviewDate], [Type], [RContent], [Status], [Remark]) VALUES (1, 2, CAST(N'2022-03-22' AS Date), N'推薦店家', N'希望能添加老骨頭bar到網站中', N'已處理', N'已添加')
INSERT [dbo].[WebsiteReview] ([ReviewID], [MemberID], [ReviewDate], [Type], [RContent], [Status], [Remark]) VALUES (2, 2, CAST(N'2022-03-22' AS Date), N'系統回饋', N'網頁設計得很不錯哦~', N'已處理', N'感謝您的支持~')
INSERT [dbo].[WebsiteReview] ([ReviewID], [MemberID], [ReviewDate], [Type], [RContent], [Status], [Remark]) VALUES (3, 2, CAST(N'2022-03-22' AS Date), N'店家資訊更新', N'喝bar已經關門大吉囉', N'處理中', N'正在確認店家是否已經未營業')
SET IDENTITY_INSERT [dbo].[WebsiteReview] OFF
GO
ALTER TABLE [dbo].[WebsiteReview] ADD  CONSTRAINT [DF_WebsiteReview_Status]  DEFAULT ('???') FOR [Status]
GO
ALTER TABLE [dbo].[MemberFavorite]  WITH CHECK ADD  CONSTRAINT [FK_MemberFavorite_MemberInfo] FOREIGN KEY([MemberID])
REFERENCES [dbo].[MemberInfo] ([MemberID])
GO
ALTER TABLE [dbo].[MemberFavorite] CHECK CONSTRAINT [FK_MemberFavorite_MemberInfo]
GO
ALTER TABLE [dbo].[MemberFavorite]  WITH CHECK ADD  CONSTRAINT [FK_MemberFavorite_ShopInfo] FOREIGN KEY([ShopID])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[MemberFavorite] CHECK CONSTRAINT [FK_MemberFavorite_ShopInfo]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_MemberInfo] FOREIGN KEY([MemberID])
REFERENCES [dbo].[MemberInfo] ([MemberID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_MemberInfo]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo1] FOREIGN KEY([Dest2])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo1]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo2] FOREIGN KEY([Dest3])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo2]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo3] FOREIGN KEY([Dest4])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo3]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo4] FOREIGN KEY([Dest5])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo4]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo5] FOREIGN KEY([Dest6])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo5]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo6] FOREIGN KEY([Dest7])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo6]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo7] FOREIGN KEY([Dest8])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo7]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_ShopInfo8] FOREIGN KEY([Dest8])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_ShopInfo8]
GO
ALTER TABLE [dbo].[ShopReview]  WITH CHECK ADD  CONSTRAINT [FK_ShopReview_MemberInfo] FOREIGN KEY([MemberID])
REFERENCES [dbo].[MemberInfo] ([MemberID])
GO
ALTER TABLE [dbo].[ShopReview] CHECK CONSTRAINT [FK_ShopReview_MemberInfo]
GO
ALTER TABLE [dbo].[ShopReview]  WITH CHECK ADD  CONSTRAINT [FK_ShopReview_ShopInfo] FOREIGN KEY([ShopID])
REFERENCES [dbo].[ShopInfo] ([ShopID])
GO
ALTER TABLE [dbo].[ShopReview] CHECK CONSTRAINT [FK_ShopReview_ShopInfo]
GO
ALTER TABLE [dbo].[WebsiteReview]  WITH CHECK ADD  CONSTRAINT [FK_WebsiteReview_MemberInfo] FOREIGN KEY([MemberID])
REFERENCES [dbo].[MemberInfo] ([MemberID])
GO
ALTER TABLE [dbo].[WebsiteReview] CHECK CONSTRAINT [FK_WebsiteReview_MemberInfo]
GO
USE [master]
GO
